# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

PORT=3002
MONGODB_URI='mongodb+srv://mittalsam98:sachinmit5017@cluster0.qcn73gu.mongodb.net/courses'
SECRET_USER='loll'
SECRET_ADMIN='loll-admin'
RAZORPAY_API_KEY= "rzp_test_awThCH6aZF8JGG"
RAZORPAY_APT_SECRET="cbLtUxIPGEGpsjGTFcyTExAf"
SECRET_KEY="my-dog"